{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:ava/recommended"],
  "parser": "babel-eslint",
  "plugins": ["babel", "react", "ava"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "always"],
    "comma-dangle": [2, {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }]
  }
}
